.pai-wallet-background {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
    height:100vh;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*HEADER*/
nav ul a,
nav {
  color: white;
  background-color:#26a69a;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

/*  transform button text */
.btn, a{
    text-transform: none !important;
}

.pai-container{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-login-facebook-button{
    background-color: #1976d2;
}

.home-login-facebook-button:hover{
    background-color:#1e88e5;
}

.login-section{
    margin-top: 5%;
}

.subscribe-button{
    background-color: orange;
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.subscribe-button:hover{
    background-color: #fb8c00;
}

.posts-container {
    height: 700px;
    overflow-y: scroll;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.new-post textarea{
    height: 300px;
}

.new-post-collapsed{
    border: 3px solid #eeeeee !important;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
    margin-top: 20px;
}

.new-post-collapsed input[type="text"]{
    padding: 0px;
    margin: 0px;
    text-indent: 10px;
    box-shadow: none !important;
    border: none !important;
}

.new-post-collapsed input[type="text"]:focus{
    box-shadow: none !important;
    border: none !important;
}

.fullWidth{
    width: 100%;
}

.alternative-login-text {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

/*Account status */

.status-completed{
    color: #4caf50;
}

.status-pending{
    color: #ffeb3b;
}

.status-missing{
    color: #f44336;
}